.slidecontainer {
  width: 199px; /* 100%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 150px; /* 100%; */
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #667292; /* #04AA6D; */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #04AA6D;
  cursor: pointer;
}

/* W3schools color palettes - Sky Palettes */
/* light background #cfe0e8 */

.td-dk {
	color:white; 
	/* background-color:#00B8C8; */
	background-color:#8d9db6;
	text-align:right; 
	vertical-align:top;
}

.td-lt {
	min-width:110px;
	color:black;
	/* background-color:#00D8E8; */
	background-color:#bccad6;
}

.tdi-dk {
	color:white; 
	background-color:#87bdd8;
	text-align:right; 
	vertical-align:top;
}

.tdi-lt {
	min-width:55px;
	color:black;
	background-color:#b7d7e8;
}

button {
	color:white;
	background-color:#667292;
}



* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: LightGrey;
  padding: 10px;
  text-align: left;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'table1 table2 graph graph graph graph' 
    'footer footer footer footer footer footer';
  grid-column-gap: 10px; /* - if you want gap between the columns */
} 

.table1,
.table2, 
.graph {
  padding: 10px;
  max-width:620px;
  max-heigth:360px; 
}

/* Style table1 */
.table1 {
  grid-area: table1;
  background-color:LightCyan;
}

/* Style table2 */
.table2 {
  grid-area: table2;
  background-color:LightCyan;
}

/* Style the graph */
.graph {
  grid-area: graph;
  background-color:#e1e1e1;
  /* height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: LightGrey;
  /* padding: 10px; */
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (min-width: 800px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'table1 graph graph graph graph graph' 
      'table2  graph graph graph graph graph' 
      'footer footer footer footer footer footer';
  }
}

@media (max-width: 800px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'table1 table1 table1 table2 table2 table2' 
      'graph graph graph graph graph graph' 
      'footer footer footer footer footer footer';
  }
}
